<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="letter_opener.css" />
    </head>
    <body>
        <pre id="message_body"><%= auto_link(h(body)) %></pre>
    </body>
</html>


